{
	"Domain": "example.com",
	"IncomingPrefix": "m",
	"ReplyPrefix": "reply",
	"RequestMailbox": "request",
	"Host": "192.168.1.100",
	"ImapPort": 993,
	"SmtpPort": 587,
	"UserName": "",
	"Password": "",
	"Database": {
		"Host": "",
		"Port": 3306,
		"UserName": "",
		"Password": "",
		"DataSource": ""
	}
}