@page
@model MailProxee.WebClient.Pages.SignUpModel
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<form method="post">
    <input type="text" name="recipient" />
    <button type="submit">Submit</button>

    @if (Model.AssignedAlias is object)
    {
        <p>
            @Model.AssignedAlias.Id.ToString()
        </p>
    }
</form>